## String Based Assignment Problem

 ### Write a program to reverse a string.

In [1]:
input_string = input("Enter a string: ")
reversed_string = input_string[::-1]
print("Reversed string:", reversed_string)

Enter a string: Hello
Reversed string: olleH

## Check if a string is a palindrome.

In [2]:
# Taking input from user
input_string = input("Enter a string: ")

# Remove spaces and convert to lowercase for case-insensitive comparison
new_string = input_string.replace(" ", "").lower()

# Reverse the new string
reversed_string = new_string[::-1]

# Check if the original and reversed strings are the same
if new_string == reversed_string:
    print("The input is a palindrome.")
else:
    print("The input is not a palindrome.")

Enter a string: Civic
The input is a palindrome.

### Convert a string to uppercase.

In [3]:
input_string = input("Enter a string: ")
uppercase_string = input_string.upper()
print("Uppercase string:", uppercase_string)

Enter a string: pwskills
Uppercase string: PWSKILLS

### Convert a string to lowercase.

In [4]:
input_string = input("Enter a string: ")
lowercase_string = input_string.lower()
print("Lowercase string:", lowercase_string)

Enter a string: PwskiLls
Lowercase string: pwskills

### Count the number of vowels in a string.

In [5]:
# Taking input from the user
Character = input("Enter a sentence: ")

# Initialize a count variable for vowels
vowel_count = 0

for char in Character:
    if char.lower() in 'aeiou':
        vowel_count += 1

# Print the vowel count
print("Number of vowels:", vowel_count)

Enter a sentence: Beautiful
Number of vowels: 5

### Count the number of consonants in a string.

In [6]:
character = input("Enter the string: ")
vowel = "aeiou"
count = 0
for char in character:
    if char.lower() not in vowel:
        count +=1
        
print("Numbers of consonants are:" , count)

Enter the string: My name is aditya
Numbers of consonants are: 11

### Remove all whitespaces from a string.

In [7]:
Character = input("Enter the string :  ")

new_string = Character.replace(" ","")
print( "New string is :" , new_string)

Enter the string :  My name is Aditya
New string is : MynameisAditya

### Find the length of a string without using the `len()` function.

In [8]:
# Taking input from user
input_str = input("Enter a string: ")

# Calculate and display the length of the string
length = len(input_str)
print("The length of the string is:", length)

Enter a string: Hello Everyone
The length of the string is: 14

### Check if a string contains a specific word.

In [9]:
My_string = input("Enter the string:  ")
specific_word_is = "Hello"
if specific_word_is in My_string:
    print("The string contains the specific word.")
else :
    print("The string does contain the word .")

Enter the string:  Pwskills is very good platform to enhance your skills, Pwskills is best .
The string does contain the word .

### Replace a word in a string with another word.

In [10]:
My_string = input("Enter the string : ")
word1 = input("Enter the word to be replaced: ")
word2 = input ("Enter the replacement word: ")

new_string = My_string.replace(word1 , word2 )
print("New string is :" , new_string)

Enter the string : Pwskills is very good platform to enhance your skills, Pwskills is best .
Enter the word to be replaced: good
Enter the replacement word: Best
New string is : Pwskills is very Best platform to enhance your skills, Pwskills is best .



### Count the occurrences of a word in a string.

In [11]:
My_string = input("Enter the string: ")
target_word = input("Enter the word to find: ")

index = My_string.find(target_word)

if index != -1:
    print(f"The word '{target_word}' first occurs at index {index}.")
else:
    print(f"The word '{target_word}' was not found in the string.")

Enter the string: Pwskills is very good platform to enhance your skills, Pwskills is best .
Enter the word to find: Pwskills
The word 'Pwskills' first occurs at index 0.

### Find the last occurrence of a word in a string.

In [18]:
My_string = input("Enter the string: ")
target_word = input("Enter the word to find: ")

index = My_string.rfind(target_word)

if index != -1:
    print(f"The word '{target_word}' last occurs at index {index}.")
else:
    print(f"The word '{target_word}' was not found in the string.")

Enter the string: Pwskills is very good platform to enhance your skills, Pwskills is best .
Enter the word to find: your
The word 'your' last occurs at index 42.

## List Based Practice Problem

### Create a list with integers from 1 to 10.

In [20]:
list1 = list(range(1, 11))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Append an element to the end of a list.

In [21]:
My_list = [1,2,3,4,5,6,7,8]
new_element = "Aditya"

My_list.append(new_element)
print(My_list)

[1, 2, 3, 4, 5, 6, 7, 8, 'Aditya']

### Remove an element from a list by its value.

In [22]:
my_list = [1, 2, 3, 4, 5,6,7,8]
#element to remove is 3
element = 3

my_list.remove(element)

print(my_list)

[1, 2, 4, 5, 6, 7, 8]

### Create a list of even numbers from 1 to 20.

In [1]:
list_even_numbers = [num for num in range(2, 21, 2)]
print(list_even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Rotate a list to the left by `n` positions.

In [2]:
n = int(input("Enter the number of positions to rotate: "))
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

n = n % len(my_list)  # Ensure n is within the range of list length

rotated_list = my_list[n:] + my_list[:n]
print(rotated_list)

Enter the number of positions to rotate: 5
[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

### Swap two elements in a list by their indices.

In [3]:
my_list = [10, 20, 30, 40, 50]

index1 = int(input("Enter the index of the first element to swap: "))
index2 = int(input("Enter the index of the second element to swap: "))

if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
    print("List after swapping:", my_list)
else:
    print("Invalid indices entered.")

Enter the index of the first element to swap: 2
Enter the index of the second element to swap: 3
List after swapping: [10, 20, 40, 30, 50]

## Tuple Based Practice Problem

### Create a tuple with integers from 1 to 5.

In [4]:
Tuple = (1, 2, 3, 4, 5)
print(Tuple)

(1, 2, 3, 4, 5)

### Access the third element of a tuple.

In [5]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

3

### Find the length of a tuple without using the `len()` function.

In [7]:
my_tuple = (1, 2, 3, 4, 5)
length = 0

for _ in my_tuple:
    length += 1

print("Length of the tuple:", length)

Length of the tuple: 5

### Count the occurrences of an element in a tuple.

In [8]:
my_tuple = (1, 3, 3, 3, 4, 3, 5, 3)
element_to_count = 3

count = 0

for item in my_tuple:
    if item == element_to_count:
        count += 1

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 3 appears 5 times in the tuple.

### Find the index of the first occurrence of an element in a tuple.

In [9]:
my_tuple = (10, 20, 30, 20, 40, 50)
element_to_find = 20

index = my_tuple.index(element_to_find)

print(f"The first occurrence of {element_to_find} is at index {index}.")

The first occurrence of 20 is at index 1.

### Convert a tuple to a list.

In [10]:
my_tuple = (1, 2, 3, 4, 5 ,6, 7, 8)
my_list = list(my_tuple)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

### Convert a list to a tuple.

In [11]:
_list = [1,2,3,4,5,6,7,8,99,9]
my_tuple = tuple(_list)
print (my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 99, 9)

### Create a tuple of even numbers from 1 to 10.

In [12]:
my_tuple = [ num for num in range (2,11,2)]
print(my_tuple)

[2, 4, 6, 8, 10]

### Create a tuple of odd numbers from 1 to 10.

In [14]:
odd_numbers = tuple(range(1, 11, 2))
print(odd_numbers)

(1, 3, 5, 7, 9)

### Concatenate two tuples.

In [16]:
my_tuple1 = ("Aditya" , 1,2,3,4)
my_tuple2 = ("Jaiswal",1,2,3,4)
my_tuple = my_tuple1 + my_tuple2
print(my_tuple)

('Aditya', 1, 2, 3, 4, 'Jaiswal', 1, 2, 3, 4)

### Repeat a tuple three times.

In [17]:
my_tuple = (99,22,44,55,45,33)
my_tuple1 = my_tuple * 3
print(my_tuple1)

(99, 22, 44, 55, 45, 33, 99, 22, 44, 55, 45, 33, 99, 22, 44, 55, 45, 33)

### Create a nested tuple.

In [19]:
_tuple = ((1, 2,4,5,6, 3), (4, 5, 6), (7, 8, 9))
print(_tuple)

((1, 2, 4, 5, 6, 3), (4, 5, 6), (7, 8, 9))

### Access the first element of a nested tuple.

In [21]:
nested_tuple = ((88, 2, 3), (4, 5, 6), (7, 8, 9))
first_inner_tuple = nested_tuple[0]
first_element = first_inner_tuple[0]
print(first_element)

88

### Create a tuple with a single element.

In [24]:
My_tuple = (56)
print(My_tuple)

56

### Compare two tuples.

In [25]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

if tuple1 < tuple2:
    print("tuple1 is less than tuple2")
elif tuple1 > tuple2:
    print("tuple1 is greater than tuple2")
else:
    print("tuple1 is equal to tuple2")

tuple1 is less than tuple2

## Set Based Practice Problem

### Create a set with integers from 1 to 5.

In [26]:
set1 = { 1,2,3,4,5,5,2}
print(set1)

{1, 2, 3, 4, 5}

### Add an element to a set.

In [29]:
My_set = { 1,2,3,4,4,5}
new_element = 990
 
My_set.add(new_element)
print(My_set)

{1, 2, 3, 4, 5, 990}

### Create a set from user input.

In [34]:
user_input = input("Enter elements separated by spaces: ")
user_list = user_input.split()

user_set = set(user_list)

print("Set:", user_set)

Enter elements separated by spaces: 22 33 45 66 889 0
Set: {'33', '22', '0', '889', '66', '45'}

### Create a set from a list.

In [35]:
my_list = [1, 2, 3, 2, 4, 5, 4]
my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5}

### Clear all elements from a set.

In [36]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()

print(my_set)

set()